html {
    height: 100%;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    background-image: url('../img/form_header.png'), url('../img/form_footer.png');
    background-size: 100% 80%, 100% 20%;
    background-repeat: no-repeat, no-repeat;
    background-position: 0 0, bottom center;
}

.table{
    color: grey;
    font-weight: bold;
}

#table2, #table3, #table4, #table5{
    /*display: none;*/
}

#content{
    float: left;
    margin-left: 50px;
}

.text-box {
    height: 27px;
    width: 230px;
    background-color: #ccc;
    border-radius: 99px;
}

.text-box2{
    height: 27px;
    width: 60px;
    background-color: #ccc;
    border-radius: 99px;
}

.button{
    position: absolute;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 0 0;
    border-radius: 999px;
    left: 73%;
    z-index: 2;
    width: 80px;
    height: 70px;
    cursor: pointer;
}

#button1{
    background-image: url('../img/button1.png');
    top: 22%;
}
#button2{
    background-image: url('../img/button2.png');
    top: 34%;
}
#button3{
    background-image: url('../img/button3.png');
    top: 46%;
}
#button4{
    background-image: url('../img/button4.png');
    top: 58%;
}
#button5{
    background-image: url('../img/button5.png');
    top: 70%;
}



#input-title, #input-title2 {
    font-size: 40px;
    font-family: Helvetica, Arial, sans-serif;
    color: #4d4d4d;
}

#input{
    margin-left: 25%;
    margin-top: 4%;
}

#submit_data{
    border-radius: 99px;
    margin-bottom: 100px;
    margin-top: 5%;
    margin-left: 50%;
    width: 80px;
    height: 25px;
    /*color: white;*/
    /*background-color: grey;*/
}
