html {
    height: 100%;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    background-image: url('../img/template.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 0 0;
}

.table{
    color: grey;
    font-weight: bold;
}

#table2, #table3, #table4, #table5{
    /*display: none;*/
}

#content{
    float: left;
    margin-left: 50px;
}

.text-box {
    height: 27px;
    width: 230px;
    background-color: #ccc;
    border-radius: 99px;
}

.text-box2{
    height: 27px;
    width: 60px;
    background-color: #ccc;
    border-radius: 99px;
}

.button{
    /*background-color: green;*/
    border-radius: 999px;
    position: absolute;
    left: 990px;
    z-index: 2;
    width: 80px;
    height: 70px;
    cursor: pointer;
}

#button1{
    top: 140px;
}
#button2{
    top: 228px;
}
#button3{
    top: 304px;
}
#button4{
    top: 380px;
}
#button5{
    top: 460px;
}



#input-title, #input-title2 {
    font-size: 40px;
    font-family: Helvetica, Arial, sans-serif;
    color: #4d4d4d;
}

#input{
    margin-left: 25%;
    margin-top: 4%;
}

#submit_data{
    border-radius: 99px;
    margin-bottom: 100px;
    margin-top: 5%;
    margin-left: 50%;
    width: 80px;
    height: 25px;
    /*color: white;*/
    /*background-color: grey;*/
}
